---
title: Chris Gearhart | Science, Engineering, &amp; Math
intro: <h1>Chris Gearhart</h1>
       <p>I am a civil service engineer for the US Navy in Southern Maryland and a grad student in Computer Science at Georgia Tech.</p>
       <p>I like <b>hard</b> problems, so <a href="#contact">get in touch</a> to see if I can help with yours.</p>

projects-shown:
  - name:        Students.Filters
    description: <p>Filter package for WEKA implementing the FastICA Independent Components Analysis algorithm.</p>
                 <p>The package is written in Java and released to the public domain under the UNLICENSE. It uses the Efficient Java Matrix Library (EJML) and integrates with the WEKA toolkit.</p>
    img:         img/portfolio/StudentsFilters.png
    url:         https://github.com/cgearhart/students-filters
  - name:        Chessnut
    description: <p>A minimal chess game model library that is able to find &amp; validate legal moves.</p>
                 <p>Chessnut is written in Python and packaged for distribution on PyPI. It has been released to the public domain under the UNLICENSE.</p>
    img:         img/portfolio/Chessnut.jpg
    url:         https://github.com/cgearhart/Chessnut
  - name:        Resound App
    description: <p>A live demo web app using the Resound library to identify recent number one US pop songs from short song clips recorded with HTML5.</p>
                 <p>ResoundApp is written in Python using the Google App Engine framework and datastore. It has been released to the public domain under the CC0 license.</p>
    img:         img/portfolio/ResoundApp.png
    url:         https://github.com/cgearhart/Resound-App

projects-extra:
  - name:        Resound
    description: <p>Audio fingerprinting library based on the algorithm used by the popular Shazam app.</p>
                 <p>Resound is written in Python (requires Numpy) and packaged for distribution on PyPI. It has been released to the public domain under the CC0 license.</p>
    img:         img/portfolio/Resound.png
    url:         https://github.com/cgearhart/Resound
  - name:        TODO API
    description: <p>Web app and API backend built as part of a software engineering class at Georgia Tech.</p>
                 <p>TODO API is written in Python using the Flask microframework and SQLAlchemy. It synchronizes with an Android app written in Java with the Android SDK.</p>
    img:         img/portfolio/TODO.png
    url:         https://bitbucket.org/cgearhart/wtm
  - name:        TrafficMat
    description: <p>At-a-glance traffic updates in a single page Javascript web app that uses HTML5 to allow a Google Map with traffic layer for a specific location to persist between sessions.</p>
                 <p>TrafficMat is written in Javascript using HTML5 features &amp; the Google Maps API.</p>
    img:         img/portfolio/TrafficMat.png
    url:         https://github.com/cgearhart/TrafficMat
  - name:        Wine Rack API
    description: <p>Prototype REST API using Django &amp; on Heroku.</p>
                 <p>The Wine Rack API is written in Python using Django and Django-RestFramework.</p>
    img:         img/portfolio/WineRack.jpg
    url:         https://bitbucket.org/cgearhart/wineapp
---
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    <meta name="description" content="Engineer"/>
    {% include head.html %}
</head>

<body data-spy="scroll" data-target=".menu">
    <div id="main">
        <div class="intro">
            <div class="mainintro">
            <div id="banner-text">
                {{ page.intro }}
            </div>
            </div>
        </div>
        <div class="menu" data-spy="affix" data-offset-top="270">
            <ul class="nav">
                <li><a class="active" href="#main">Home</a></li><li><a href="#portfolio">Portfolio</a></li><li><a href="#skills">Experience</a></li><li><a href="#contact">Contact</a></li><li><a href="/blog">Blog</a></li>
            </ul>
        </div>
        <div id="portfolio" data-stellar-background-ratio="0.2" class="section row-fluid">
    <div class="container">
        <ul class="items">

            {% for project in page.projects-shown %}
            <li class="item span4">
                <a target="_blank" href="{{ project.url }}">
                    <img src="{{ project.img }}" alt="" />
                    <div class="description">
                        <h3>{{ project.name }}</h3>
                        {{ project.description }}
                    </div>
                </a>
            </li>
            {% endfor %}

        </ul>
        <div id="more">
            <a href="">See more projects</a>
        </div>
        <div id="extra-items">
            <ul class="items">

                {% for project in page.projects-extra %}
                <li class="item span4">
                    <a target="_blank" href="{{ project.url }}">
                        <img src="{{ project.img }}" alt="" />
                        <div class="description">
                            <h3>{{ project.name }}</h3>
                            {{ project.description }}
                        </div>
                    </a>
                </li>

                {% endfor %}
                <li id="github">
                    <a target="_blank" href="http://github.com/cgearhart">
                        <img src="img/portfolio/github.png" alt="" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="skills" class="section">
    <div class="container">
        <h2>Experience</h2>
        <div class="row-fluid context">
            <p>I am a systems engineer at the Naval Air Warfare Center Aircraft Division, Patuxent River (NAWCAD). As the lead systems engineer for several types of air-launched weapons, I am responsible for ensuring that those weapons safely and reliably meet Navy requirements. I also moonlight as a grad student in Computer Science at Georgia Tech, with coursework focusing on Computational Perception &amp; Robotics, Artificial Intelligence, and Machine Learning.</p> 

            <p>Since 2008, I have applied sound mechanical and software engineering principles in warhead development, operations research, advanced technology development &amp; evaluation, rocket motor production, and systems engineering. My varied experience gives me a broad perspective for recognizing and solving technical challenges across multiple disciplines. I look for <em>hard</em> problems to work on &ndash; and my experience demonstrates that I'm not afraid to learn complex new fields in order to be successful.</p>
        </div>
        <hr>
        <div class="row-fluid" id="history">
            <div id="jobs" class="span8">
                <div class="job">
                    <h3>Systems Engineer<span class='year'> – 2012</span></h3>
                    <ul>
                        <li>•   Developed safety &amp; technical requirements for next-generation Rocket Assisted Take-Off (RATO) motor.</li>
                        <li>•   Resolved combustion instability in solid fuel rocket motor propellant to eliminate target drone crashes and resume production of legacy RATO motors.</li>
                        <li>•   Lead technical authority of a Joint Capability Technology Demonstration for a new, fixed-wing capable 2.75" rocket guidance section.</li>
                    </ul>
                </div>
                <div class="job">
                    <h3>Advanced Technology Development<span class='year'> – 2010</span></h3>
                    <ul>
                        <li>•   Developed comparative analysis of all planned US Navy air weapon acquisition investments relative to historical budgets for the Office of the Chief of Naval Operations, Air Warfare division.</li>
                        <li>•   Conducted technology evaluation for next-generation long-range rocket motors &amp; airborne laser weapon demonstrations.</li>
                    </ul>
                </div>
                <div class="job">
                    <h3>Operations Research Analyst<span class='year'> – 2008</span></h3>
                    <ul>
                        <li>•   Used design of experiments to investigate insensitive munitions (IM) performance of Navy general purpose bombs by conducting a mixed-level, blocked fractional factorial experimental design with centerpoints to evaluate potential bomb liner constituent materials.</li>
                        <li>•   Developed and executed numerical &amp; statistical models for warfare analysis simulations.</li>
                        <li>•   Built a sympathetic detonation model in CTH to simulate IM characteristics for GP bombs.</li>
                    </ul>
                </div>
            </div>
            <div id="education" class="span4">
                <h3>Education</h3>
                <div class="education-item">
                    <h4>Georgia Tech – 2016 (anticipated)</h4>
                    <p>Masters of Science, Computer Science</p>
                    <p>Specialization in Computational Perception &amp; Robotics</p>
                </div>
                <div class="education-item">
                    <h4>Cal Poly, San Luis Obispo - 2007</h4>
                    <p>Bachelors of Science, Mechanical Engineering</p>
                    <p>Concentration in Mechatronics</p>
                </div>
            </div>

            <div id="courses" class="span4">
                <h3>Courses</h3>
                <ul>
                    <li>Software Development Processes [GT]</li>
                    <li>Machine Learning [GT]</li>
                    <li>Relational Databases [Stanford - IS]</li>
                    <li>Machine Learning [Stanford - IS]</li>
                    <li>Intro to Artificial Intelligence [Stanford - IS]</li>
                    <li>Computer Vision [Cal Poly]</li>
                    <li>Robotics [Cal Poly]</li>
                    <li>Control Systems [Cal Poly]</li>
                </ul>
            </div>

            <div id="tools" class="span4">
                <h3>Languages, Libraries, &amp; Tools</h3>
                <ul>
                    <li><b>Python:</b> Numpy/Scipy, Django, Flask, SqlAlchemy, Pandas, Nose</li>
                    <li><b>Java:</b> Android, JSP, Spring, JUnit, WEKA</li>
                    <li><b>Scientific/Numeric Computing:</b> Matlab &amp; GNU Octave</li>
                    <li><b>Web Development:</b> JavaScript, HTML5, &amp; CSS3</li>
                    <li><b>Databases:</b> SQLite, Postgres, GAE Datastore</li>
                    <li><b>Version Control:</b> Git</li>
                    <li><b>Other:</b> C and Go</li>
                </ul>
            </div>

        </div>
    </div>
</div>
<div id="contact" class="section" data-stellar-background-ratio="0.2">
    <div class="container">
        <h3>Contact Info</h3>
        <div class="row-fluid">
            <div class="column">
                <p class="social">
                    Reach me at chris@gearley.com and find me on <a class='url' title='Chris Gearhart on GitHub' href='http://github.com/cgearhart'>GitHub</a>, <a class='url' title='Chris Gearhart on LinkedIn' href='http://www.linkedin.com/pub/christopher-gearhart/54/470/905'>LinkedIn</a>, and <a class='url' title='Chris Gearhart on Google+' rel='author' href='https://plus.google.com/u/0/104352161487845958599'>Google+</a>
                </p>
            </div>
        </div>
    </div>
</div>

</div>

{% include tracking.html %}
{% include footerjs.html %}
</body>
</html>